html  {
    background-color: #F4C095;
    font-family: Arial;
    color: #071E22;
}

body {
    text-align: center;
}

header {
    background-color: #679289;
}

header > p {
    padding-top: 5px;
}

p > a:link {
    color: #f1f1f1;
}

p > a:visited {
    color: rgb(253, 253, 188);
}

p > a:hover {
    color: #c4c4c4;
}

footer {
    margin-top: 10px;
    border-top-style: solid;
    border-width: 2px;
}

img {
    width: 300px;
}

p {
    padding-top: 0px;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

a:link {
    color: blue;
}

div > a:link {
    color: #f1f1f1;
}

a:visited {
    color: #7A5C58;
}

div > a:visited {
    color: rgb(253, 253, 188);
}

a:hover {
    color: #8B80F9;
}

div > a:hover {
    color: #c4c4c4;
}

a:active {
    color: #DE3C4B;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container > div {
    border-style: dotted;
    border-width: 2px;
    margin: 10px;
    padding: 5px;
}

/* Responsive to mobile layout */
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}